<head>
    <meta charset="utf-8">
    <!--<base href="{{ site.baseurl }}/">-->
    
    <meta name="google-site-verification" content="wGeE2LFety4z0b1D2Ip45P7b2xJ-jPKYnWsvdDFkwPs" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{% if page.title %}{{ page.title }}｜{% endif %}308資料庫</title>

    <meta property="og:title" content="{% if page.title %}{{ page.title }}｜{% endif %}308資料庫">
    <link href="/images/favicon.ico" rel="shortcut icon">

    <!--js-->
    <script src="{{ "/js/jquery-3.5.1.js" | prepend: site.baseurl }}"></script>
    <!--[if lt IE 9]><script src="{{ "/js/html5shiv.min.js" | prepend: site.baseurl }}"></script><![endif]-->
    <script src="{{ "/js/page.js" | prepend: site.baseurl }}?time={{ "now" | date: "%Y-%m-%d_%H:%M" }}"></script>
    <script>window.pagename="{{page.title}}"</script>

    <!--css-->
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}?time={{ "now" | date: "%Y-%m-%d_%H:%M" }}">
    <style>/** Load **/main{display:none;}div#load{border:16px solid #f3f3f3;border-radius:50%;border-top:16px solid #3498db;width:120px;height:120px;-webkit-animation:spin 2s linear infinite;/* Safari */animation:spin 2s linear infinite;border-top:16px solid red;border-right:16px solid yellow;border-bottom:16px solid green;border-left:16px solid blue;}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}</style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
