<!doctype html>
<html>
  {% include head.html %}
  <body>
    <style>/** div#load **/div#load{border:16px solid #f3f3f3;border-radius:50%;border-top:16px solid #3498db;width:120px;height:120px;-webkit-animation:spin 2s linear infinite;/* Safari */animation:spin 2s linear infinite;border-top: 16px solid red;border-right: 16px solid yellow;border-bottom: 16px solid green;border-left: 16px solid blue;}@-webkit-keyframes spin{0%{-webkit-transform: rotate(0deg);}100%{-webkit-transform: rotate(360deg);}}@keyframes spin{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}</style>
    <div id="load"></div>
    <span id="top"></span>
    <main>
      <a href="{{ site.baseurl }}/" style="color:inherit;text-decoration:none;">
        <header>
          <h1>308資料庫</h1>
        </header>
      </a>
      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/tcswjh108-308" class="button fork"><strong>View On GitHub</strong></a>
      </div><!-- end banner -->

      <div class="wrapper">
        <nav>
          <h2>目錄＆索引</h2>
          <h3>目錄
          <ul id="section"></ul>
          <h3>索引</h3>
          {% include links.html %}
        </nav>
        <section>
          {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
{{ content }}
        </section>
      </div>
      <footer>
          <p><small>此網站架於GitHub Pages｜作者：陳昱辰｜<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh_TW">CC BY-NC-ND 4.0</a></small></p>
        </footer>
    </main>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
